common --registry=file:///home/wizyang/work/bazel-local-registry
common --registry=https://bcr.bazel.build
common --distdir=/home/wizyang/work/bazel-local-cache
build --crosstool_top=@llvm_toolchain//:toolchain
build --action_env=CC=clang
build --action_env=CXX=clang++
